<article class="fd-page">
    <div class="fd-page__content">
        <section class="fd-section">
            <div class="fd-action-bar">
                <div class="fd-action-bar__header">
                    <h1 class="fd-action-bar__title">
                        Push
                    </h1>
                    <p class="fd-action-bar__description">Elements bellow are been pushed to the Front-end from the Back-end</p>
                </div>
                <div class="fd-action-bar__actions">
                    <button (click)="clearReceivedData()" class="fd-button--light">
                        <span class="sap-icon--delete"></span>&nbsp;&nbsp;Clear
                    </button>
                </div>
            </div>
            <div class="fd-panel-grid fd-panel-grid--4col">
                <div *ngFor="let item of receivedData" class="fd-panel">
                    <div class="fd-panel__body">
                        <p class="fd-has-float-right">{{ item.dateTime | date:'HH:mm:ss'}}</p>
                        <p class="fd-has-type-5">{{ item.value }}</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</article>