<article class="fd-page">
    <div class="fd-page__content">
        <section class="fd-section">
            <div class="fd-action-bar">
                <div class="fd-action-bar__header">
                    <h1 class="fd-action-bar__title">
                        Send &amp; Await
                    </h1>
                </div>
            </div>
            <div class="fd-container fd-container--fluid">
                <div class="fd-col--5">
                    <div class="fd-panel">
                        <div class="fd-panel__header">
                            <div class="fd-panel__head">
                                <h1 class="fd-panel__title">
                                    Send to Back-end
                                </h1>
                                <p class="fd-panel__description">
                                    The information on the form bellow will be sent to the Back-end
                                </p>
                            </div>
                        </div>
                        <div class="fd-panel__body">
                            <form>
                                <div class="fd-form__set">
                                    <div class="fd-form__item">
                                        <label class="fd-form__label" for="input-1">String</label>
                                        <input class="fd-form__control" type="text" id="input-1" [(ngModel)]="stringToSend" [ngModelOptions]="{standalone: true}">
                                    </div>
                                </div>
                                <div class="fd-form__set">
                                    <div class="fd-form__item">
                                        <button (click)="send()" class="fd-button fd-button--action-bar fd-has-float-left">
                                            Send to Back-end
                                        </button>
                                    </div>
                                    <br/><br/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="fd-col--7">
                    <div class="fd-panel" [attr.aria-busy]="waiting">
                        <div class="fd-spinner" [attr.aria-hidden]="!waiting" aria-label="Loading">
                            <div></div>
                        </div>
                        <div class="fd-panel__header">
                            <div class="fd-panel__head">
                                <h1 class="fd-panel__title">
                                    Received from the Back-end
                                </h1>
                                <p class="fd-panel__description">
                                    The information bellow has been received from the Back-end
                                </p>
                            </div>
                            <div class="fd-panel__actions">
                                <button (click)="clearReceivedData()" class="fd-button--secondary">
                                    <span class="sap-icon--delete"></span>&nbsp;&nbsp;Clear</button>
                            </div>
                        </div>
                        <div class="fd-panel__body">
                            <table class="fd-table">
                                <thead>
                                    <tr>
                                        <th class="fd-col--5">String</th>
                                        <th class="fd-col--4">String Hashed</th>
                                        <th class="fd-col--3">Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of receivedData">
                                        <td class="fd-col--5">{{ item.originalString }}</td>
                                        <td class="fd-col--4">{{ item.stringHash }}</td>
                                        <td class="fd-col--3" style="font-family: monospace;">{{ item.dateTime | date:'HH:mm:ss' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</article>