<article class="fd-page">
    <div class="fd-page__content">
        <section class="fd-section">
            <div class="fd-action-bar">
                <div class="fd-action-bar__header">
                    <h1 class="fd-action-bar__title">
                        Cloud Scaffolding App
                    </h1>
                </div>
            </div>
            <div class="fd-container">
                <p>This is a sample application to illustrate the use of a Modern Technology Stack for Cloud Applications</p>
                <br/>
                <h1>Usage</h1>
                <p>Please use the navigation options at the top right to access the two Example Components</p>
            </div>
        </section>
    </div>

</article>