<div class="fd-ui fd-ui--fundamental">
    <div class="fd-ui__header">
        <nav class="fd-global-nav">
            <div class="fd-global-nav__group fd-global-nav__group--left">
                <a [routerLink]="['/']">
                    <div class="fd-global-nav__logo"></div>
                    <div class="fd-global-nav__product-name">
                        Cloud Scaffolding App
                    </div>
                </a>
            </div>
            <div class="fd-global-nav__group fd-global-nav__group--right fd-has-margin-right-s">
                <button [routerLink]="['/send-await']" [routerLinkActive]="['selected']" class="fd-button--secondary">Send &amp; await</button>
                <button [routerLink]="['/push']" [routerLinkActive]="['selected']" class="fd-button--secondary">Push</button>
            </div>
        </nav>
    </div>

    <div class="fd-ui__app">
        <div class="fd-app">
            <main class="fd-app__main">
                <router-outlet></router-outlet>
            </main>
        </div>
    </div>
</div>